.card-media {
  height: 139px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 2px;
}
