.delete-template-card {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.delete-template-card-text {
  padding: 20px;
}

.delete-template-card-delete-button {
  color: white;
  margin-left: 10px;
}

.delete-template-deleting-spinner {
  width: 85px;
}
