<div class="ion-page">
  <div class="card delete-template-card">
    <div class="card-body">
      <p class="card-text delete-template-card-text">Delete <strong>“{{template.name}}”</strong>experience template.<br/>This action cannot be undone.</p>
      <hr/>
      <button *ngIf="!isDeleting" type="button" class="btn btn-danger float-end delete-template-card-delete-button" (click)="confirmed()">Delete</button>
      <div *ngIf="isDeleting" class="float-end delete-template-deleting-spinner" ><ion-spinner></ion-spinner></div>
      <button type="button" class="btn btn-outline-secondary float-end" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
