<ion-content>
  <ion-grid class="templates-grid-container">
    <ion-row>
      <ng-container *ngFor="let category of categories.slice(0,3)">
        <ion-col>
          <app-template-category-card [category]="category"></app-template-category-card>
        </ion-col>
      </ng-container>
    </ion-row>

    <ion-row>
      <ng-container *ngFor="let category of categories.slice(3,7)">
        <ion-col>
          <app-template-category-card [category]="category"></app-template-category-card>
        </ion-col>
      </ng-container>
    </ion-row>

    <ng-container *ngIf="!loadingTemplates">
      <ng-container *ngFor="let categorisedTemplate of categorisedTemplates">
        <ng-container *ngIf="categorisedTemplate.templates.length > 0">

          <ion-row>
            <ion-col>
              <h2 class="category-heading cursor-pointer" (click)="router.navigate( ['templates', categorisedTemplate.category.name])">{{categorisedTemplate.category.name}} <ion-icon class="align-middle" name="arrow-forward-outline"></ion-icon></h2>
            </ion-col>
          </ion-row>

          <ion-row>
            <ng-container *ngFor="let template of categorisedTemplate.templates.slice(0, 3)">
              <ion-col>
                <app-template-card [template]="template"></app-template-card>
              </ion-col>
            </ng-container>
          </ion-row>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="loadingTemplates">
      <ion-row>
        <ion-col>
          <h2 class="category-heading"><ion-skeleton-text animated="true" style="height: 20px; width: 180px"></ion-skeleton-text></h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
        <ion-col>
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
        <ion-col>
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h2 class="category-heading"><ion-skeleton-text animated="true" style="height: 20px; width: 180px"></ion-skeleton-text></h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
        <ion-col>
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
        <ion-col>
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
      </ion-row>
    </ng-container>

  </ion-grid>
</ion-content>
