$message-body-size: 60%;

.not-started-empty-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  .head-text {
    margin-bottom: 0px;
    margin-top: 0px;
    &.desktop {
      margin-top: 24px;
    }
  }
  .sub-text {
    margin-top: 5px;
  }
  .image {
    min-width: 96px;
    min-height: 96px;
    max-width: 96px;
    max-height: 96px;
    &.desktop {
      min-width: 120px;
      min-height: 120px;
      max-width: 120px;
      max-height: 120px;
    }
  }
}

.chat-list {
  background-color: transparent !important;
  ion-item {
    ion-avatar {
      width: 32px;
      height: 32px;
      margin: 0 12px 2px 0 !important;
      margin-left: -8px !important;
      &.no-time {
        margin-top: 8% !important;
      }
      &.no-time-team {
        margin-top: -8% !important;
      }
    }

    ion-label {
      .time {
        width: 100%;
        text-align: center;
        margin-bottom: 8px;
      }

      .message-container {
        .action-container {
          display: none;
          ion-button {
            color: var(--practera-grey-25);
            ion-icon {
              color: var(--practera-grey-25);
              font-size: 21px;
            }
            &:hover {
              &.delete-btn {
                color: var(--ion-color-danger);
                ion-icon {
                  color: var(--ion-color-danger);
                }
              }
              background: transparent;
              --background: transparent;
              color: var(--practera-ocean-100);
              ion-icon {
                color: var(--practera-ocean-100);
              }
            }
          }
        }

        .message-body {
          padding: 16px;
          min-width: 48px;
          max-width: $message-body-size;
          border-radius: 25px;
          width: fit-content;
  
          &.image {
            // background: none !important;
            line-height: 0;
            // padding: 0;
            cursor: pointer;

            .message-text {
              margin-bottom: 10px;
            }
  
            img {
              border-radius: 25px;
            }
          }
          // consistent colour to make attachment standout
          .general-attachment {
            background: white;
            --background: white;
            cursor: pointer;

            .message-text {
              margin-bottom: 10px;
            }
          }
  
          p {
            &.seen-text {
              &:nth-child(1) {
                padding: 0 !important;
                font-weight: 500;
              }
            }
          }
  
          p {
            color: black;
            margin: 0;
            text-align: left;
            user-select: all !important;
            white-space: pre-wrap !important;
          }
  
          &.video-attachment-container {
            min-height: 125px;
            line-height: 0;
            padding: 0;
            display:block;
            position:relative;
            cursor: pointer;
            padding: 16px;

            .message-text {
              margin-bottom: 10px;
            }
  
            app-video-conversion {
              display: flex;
              align-items: center;
            }
  
            #inner-box {
              border-radius: inherit;
              min-width: inherit;
              padding: 0;
              width: 100%;
  
              p {
                color: white;
                margin-top: 1.5em;
                text-align: center;
                ion-icon {
                  font-size: 5em !important;
                }
              }
            }
  
            .video {
              padding: inherit;
              min-width: 100%;
              max-width: inherit;
              min-height: 100%;
              max-height: inherit;
              border-radius: inherit;
            }
  
            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .seen-text {
        padding-bottom: 8px;
      }

      &.received-messages {
        text-align: left;

        .message-container {
          .message-body {
            background-color: white;

            &.video-attachment-container {
              .label {
                color: var(--ion-color-primary);
              }
              #inner-box {
                p {
                  color: var(--ion-color-primary);
                }
              }
            }
          }
        }

        .time {
          margin-left: -14% !important;
          width: -webkit-fill-available !important;
        }

        &.no-avatar {
          margin-left: 12%;
        }
      }

      &.send-messages {
        text-align: right;
        margin-right: 0;

        .message-container {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-direction: row;
          flex-wrap: wrap;
          .message-body {
            background-color: var(--ion-color-primary);
  
            &.video-attachment-container {
              .label {
                color: white;
              }
              #inner-box {
                p {
                  color: white;
                }
              }
            }

            .general-attachment {
              background: transparent;
              --background: transparent;
              cursor: pointer;
              ion-icon, ion-note, ion-label {
                color: white !important;
              }
            }
            // margin-left: calc(100% - 150px) !important;
            float: right;
          }

          &:hover {
            .action-container {
              display: block;
            }
          }

        }
      }
    }
  }

  &.desktop-view {
    ion-item {
      ion-avatar {
        margin-left: 0 !important;
        margin-top: 3% !important;
        &.no-time {
          margin-top: 0 !important;
        }
        &.no-time-team {
          margin-top: -3% !important;
        }
        &.with-time-team {
          margin-top: 0 !important;
        }
      }
      ion-label {
        .time {
          margin-left: 2.5% !important;
        }
        &.received-messages {
          .time {
            margin-left: 0 !important;
          }
          &.no-avatar {
            margin-left: 44px !important;
          }
        }
      }
    }
  }
}

.message-sending-loading {
  width: 100% !important;
  text-align: right !important;
}

.message-typing {
  width: 100% !important;
  text-align: left !important;
}
.ion-content-absolute-with-footer {
  height: calc(100% - 213px);

  &.schedule {
    height: calc(100% - 258px);
    &.attach-preview {
      height: calc(100% - 358px);
    }
  }

  &.attach-preview {
    height: calc(100% - 313px);
  }
}

.footer {
  min-height: 152px;
  padding: 0;

  ion-grid {
    padding: 0;
    background-color: white;
    ion-row {
      &.action-buttons {
        min-height: 48px;
        max-height: 66px;
        ion-col {
          min-height: 48px;
          max-height: 66px;
          ion-button {
            padding-top: 6px;
            min-height: 24px;
            max-height: 100px;
            height: auto;
            ion-icon {
              font-size: 24px;
            }
          }
        }
      }

      &.attach-preview {
        min-height: 100px;
        max-height: 100px;
        ion-col {
          .image {
            min-height: 100px;
            max-height: 100px;
            padding: 10px;
            .remove-attach {
              cursor: pointer;
              position: absolute;
              top: 0px;
              left: 90px;
              background: var(--practera-ocean-100);
              width: 20px;
              height: 20px;
              border-radius: 50%;
              color: white;
              display: none;
            }
            .overlay {
              cursor: pointer;
              position: absolute;
              top: 10px;
              left: 28px;
              width: 80px;
              height: 80px;
              display: none;
              color: transparent;
            }
            &:hover {
              .remove-attach {
                display: block;
              }
              .overlay {
                display: block;
                background: rgba(0, 0, 0, .6);
              }
            }
          }
          .file-preview {
            height: fit-content;
            width: fit-content;
            margin: 10px;
            .general-attachment {
              --min-height: 80px;
              min-width: 300px;
              --background: var(--practera-light-grey-50);
              --border-color: var(--practera-light-grey-75);
              --border-radius: 4px;
              ion-label {
                .mimetype {
                  color: var(--practera-grey-75);
                }
              }
            }
            .overlay {
              cursor: pointer;
              position: absolute;
              top: 10px;
              left: 10px;
              width: 300px;
              height: 80px;
              display: none;
              color: transparent;
              border-radius: 4px;
              z-index: 2;
            }
            .remove-attach {
              cursor: pointer;
              position: absolute;
              top: 0px;
              left: 300px;
              background: var(--practera-ocean-100);
              width: 20px;
              height: 20px;
              border-radius: 50%;
              color: white;
              display: none;
              z-index: 2;
            }
            &:hover {
              .remove-attach {
                display: block;
              }
              .overlay {
                display: block;
                background: rgba(0, 0, 0, .6);
              }
            }
          }
        }
      }
    }
  }
}

.schedule-message-banner {
  padding: 0 16px;
  background-color: white;
  border-top: 1px solid;
  border-top-color: var(--practera-grey-25);
  border-bottom: 1px solid;
  border-bottom-color: var(--practera-grey-25);
  // for shadow
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;

  .schedule-message-banner-title {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    margin: 0;
    height: 24px;
    border-radius: 6px;
    background-color: var(--practera-yellow-25);
    padding: 6px 0 6px 10px;
    cursor: pointer;
  }

  .back-to-message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    p {
      margin: 0;
    }
  }
}

.message-text-editor {
  .ql-toolbar, .ql-container {
    border: none;
  }
  .ql-container {
    .ql-editor {
      max-height: 82px;
      min-height: 62px;
    }
  }
}