.card-media {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 100%;
  display: block;
}

.templates-grid-container {
  padding-left: 20px;
  padding-right: 20px;
  //margin: 0px
}

.download-resources {
  padding-bottom: 40px;
}

.template-tags {
  text-transform: uppercase;
  font-weight: 500;
  padding-right: 20px;
}

.public-toggle {
  ion-toggle {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.template-title {
  font-weight: bold;
  font-size: 42px;
}

.template-details-title-row {
  padding-top: 30px;
  padding-bottom: 20px;
}

.template-tags-row {
  padding-bottom: 20px;
}

.use-template-button {
  margin-left: 10px;
}

.importing-template-spinner {
  width: 131px;
}

.download-resources-subheader {
  font-weight: 500;
}

.lead-video {
  border-radius: 5px;
  width: 100%;
  padding-bottom: 20px;
}

.templates-grid-container {
  padding-left: 40px;
  padding-right: 20px;
}

.no-results-container {
  padding-top: 200px;
}

.custom-template-chip {
  position: absolute;
  left: 41px;
  top: 215px;
}
