<ion-content>
  <ng-container *ngIf="!loadingTemplate">
    <ng-container *ngIf="template.name">
      <ion-grid class="templates-grid-container">
        <ion-row>
          <ion-col size="12">
            <div class="card-media" [style.background-image]="template.leadImageUrl ? 'url(' + template.leadImageUrl + ')' : 'url(' + categoryLeadImage + ')'"></div>
          </ion-col>
          <app-custom-template-chip *ngIf="!template.isPublic" class="custom-template-chip"></app-custom-template-chip>
        </ion-row>
        <ion-row class="template-details-title-row">
          <ion-col size="8">
            <div>
              <span class="template-title">{{ template.name }}</span>
            </div>
          </ion-col>
          <ion-col size="4" style="text-align: end">
            <div>
              <button *ngIf="!importingTemplate" type="button" class="btn btn-primary float-end use-template-button" (click)="importTemplate(template.uuid)"><ion-spinner *ngIf="importingTemplate"></ion-spinner><span *ngIf="!importingTemplate">Use Template</span></button>
              <div class="float-end importing-template-spinner"><ion-spinner *ngIf="importingTemplate"></ion-spinner></div>
              <button *ngIf="canDelete()" type="button" class="btn btn-outline-secondary float-end" (click)="deleteTemplate()"><span>Delete</span></button>
            </div>
            <div *ngIf="showToggle" class="d-flex align-items-center float-end public-toggle" style="margin-top:10px">
              <span>Private</span>
              <ion-toggle color="ocean" mode="ios" [(ngModel)]="isTemplatepublic" (ionChange)="updateTemplateVisibility($event)"></ion-toggle>
              <span>Public</span>
            </div>
          </ion-col>
        </ion-row>

        <ng-container *ngIf="template.attributes && template.attributes.length">
          <ion-row class="template-tags-row">
            <ion-col size="8">
              <div>
                <span *ngFor="let attribute of template.attributes" class="template-tags">#{{attribute}}</span>
              </div>
            </ion-col>
            <ion-col size="3" offset="1">
            </ion-col>
          </ion-row>
        </ng-container>

        <ion-row>
          <ion-col size="8">
            <ng-container *ngIf="template.leadVideoUrl">
              <div>
                <video class="lead-video" preload="auto" controls [src]=[template.leadVideoUrl]></video>
              </div>
            </ng-container>
            <div>
              <span [innerHTML]=[template.description]></span>
            </div>
          </ion-col>
          <ion-col size="3" offset="1">
            <ng-container *ngIf="template.designMapUrl || template.operationsManualUrl">
              <div class="download-resources">
                <span class="download-resources-subheader">Download Resources</span>
              </div>
            </ng-container>
            <ng-container *ngIf="template.designMapUrl">
              <div class="download-resources">
                <app-resource-download-card prompt="Download Design Map" src="{{template.designMapUrl}}" leadImage="/assets/template-library/designMap.png"></app-resource-download-card>
              </div>
            </ng-container>
            <ng-container *ngIf="template.operationsManualUrl">
              <div class="download-resources">
                <app-resource-download-card prompt="Download Operations Manual" src="{{template.operationsManualUrl}}" leadImage="/assets/template-library/operationsManual.png"></app-resource-download-card>
              </div>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ng-container *ngIf="!template.name">
      <div class="no-results-container">
        <app-empty-results emptyResultsString="Could not find the template"></app-empty-results>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="loadingTemplate">
    <ion-grid class="templates-grid-container">
      <ion-row>
        <ion-col size="12">
          <ion-skeleton-text animated="true" style="height: 200px; width: 100%"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="template-details-title-row">
        <ion-col size="8">
          <div>
            <ion-skeleton-text animated="true" style="height: 60px; width: 400px"></ion-skeleton-text>
          </div>
        </ion-col>
        <ion-col size="3" offset="1">
          <div>
            <ion-skeleton-text animated="true" style="height: 60px; width: 100%"></ion-skeleton-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="template-tags-row">
        <ion-col size="8">
          <div>
            <ion-skeleton-text animated="true" style="height: 24px; width: 100%" ></ion-skeleton-text>
          </div>
        </ion-col>
        <ion-col size="3" offset="1">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="8">
          <div>
            <ion-skeleton-text animated="true" style="height: 400px; width: 100%"></ion-skeleton-text>
          </div>
          <div style="margin-top: 30px">
            <ion-skeleton-text animated="true" style="height: 19px;"></ion-skeleton-text>
            <ion-skeleton-text animated="true" style="height: 19px;"></ion-skeleton-text>
            <ion-skeleton-text animated="true" style="height: 19px;"></ion-skeleton-text>
            <ion-skeleton-text animated="true" style="height: 19px;"></ion-skeleton-text>
            <ion-skeleton-text animated="true" style="height: 19px;"></ion-skeleton-text>
            <ion-skeleton-text animated="true" style="height: 19px;"></ion-skeleton-text>
          </div>
        </ion-col>
        <ion-col size="3" offset="1">
          <div class="download-resources">
            <ion-skeleton-text animated="true" style="height: 19px; width: 150px"></ion-skeleton-text>
          </div>
          <div class="download-resources">
            <app-resource-download-card [skeleton]="true"></app-resource-download-card>
          </div>
          <div class="download-resources">
            <app-resource-download-card [skeleton]="true"></app-resource-download-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

</ion-content>


<!--</ion-grid>-->

