<ion-item>
  <ion-button *ngIf="back" fill="clear" (click)="goBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <div class="header-container">
    <div *ngIf="icon" class="icon-container ion-hide-sm-down">
      <span class="icon">
        <i class="fas {{icon}}"></i>
      </span>
    </div>
    <div class="title-container">
      <ion-text>
        <p class="dark-blue-100" [class]="!utils.isMobile() ? 'heading-6' : 'subtitle-1'">{{ title }}</p>
      </ion-text>
      <p class="subtitle-2 gray-1 ion-hide-sm-down">{{ subtitle }}</p>
    </div>
  </div>
  <ion-button *ngIf="button" class="ion-float-right" (click)="action.emit()">{{ button }}</ion-button>
</ion-item>