.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 18px;
  margin-bottom: 18px;

  .title-container {
    margin-left: 16px;
    p {
      margin-bottom: 0;
    }
  
    ion-text {
      p {
        font-family: Roboto;
        text-align: left;
        margin-bottom: 6px;
        font-weight: 700;
      }
    }
  }
}

.btn-action {
  height: 34px;
  --padding-start: 20px;
  --padding-end: 20px;
  --background: var(--practera-ocean-100);
}
