ion-footer {
  background-color: white;
  height: 54px;
  padding: 10px 30px;

  ion-button {
    box-shadow: none;
    height: 34px;
    font-family: Roboto;
    font-weight: 700;
    box-sizing: border-box;
    --border-radius: 6px;
    --box-shadow: none;
    --padding-top: 9px;
    --padding-bottom: 9px;
    --padding-start: 20px;
    --padding-end: 20px;
    &.clear {
      border: 1px solid #dfdfe8;
      border-radius: 6px;
      --background: white;
      --color: black;
    }
    &.select {
      --background: var(--ion-color-primary);
      --color: white;
    }
  }
}
