ion-header:after {
  display: none;
}

ion-toolbar {
  --background: #fff;
  height: 96px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
}

ion-title {
  ion-item {
    display: inline-block;
    background: transparent;
    --background: transparent;
    width: calc(100% - 90px);
  }
}
ion-button {
  vertical-align: middle;
}

.title {
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
}