<div class="ion-padding" [ngClass]="{'main-container': createdMessage}">
  <ng-container *ngIf="!createdMessage; else messageCreated">
    <p class="subtitle-2 popup-title">Schedule Message</p>

    <p class="caption hint-message"><strong>{{ utils.browserTimezone() }} Timezone</strong></p>

    <!-- comment this util we discuss about limit -->
    <!-- <p class="caption hint-message">select the date and time at least 30 minutes in the future</p> -->

    <div class="form-container">

      <p class="subtitle-2 popup-subtitle">Date</p>
      <ion-input class="date-time-pickers" type="date" [(ngModel)]="selectedDate" (ionChange)="validateDateTime()"></ion-input>
  
    
      <p class="subtitle-2 popup-subtitle">Time</p>
      <ion-input class="date-time-pickers" type="time" [(ngModel)]="selectedTime" (ionChange)="validateDateTime()"></ion-input>

      <p class="subtitle-2 popup-error" *ngIf="invalidDateTime">Selected date and time is not valid</p>
    
    </div>
  </ng-container>
  <ng-template #messageCreated>
    <div class="success-container">
      <div class="title-container">
        <ion-icon name="checkmark-circle"></ion-icon>
        <p class="subtitle-2 popup-title">Message Scheduled</p>
      </div>
      <div class="message-container ql-success-message-container">
        <!-- Quill read only view/ use to render html content -->
        <quill-view [content]="createdMessage.message" *ngIf="createdMessage.message"></quill-view>
        <div class="attachment-container" *ngIf="createdMessage.fileObject">
          <p class="black">Attachment:</p>
          <a class="ocean" (click)="previewFile(createdMessage.fileObject)">{{ createdMessage.fileObject.filename }}</a>
        </div>
      </div>
      <div class="schedule-info-container">
        <p class="subtitle-2 black">Scheduled for <strong>{{ utils.utcLocalforScheduleMessages(createdMessage.scheduled, 'date') }}</strong> at <strong>{{ utils.utcLocalforScheduleMessages(createdMessage.scheduled, 'time') }} ({{ utils.browserTimezone() }})</strong> on <strong>{{ channelName }}</strong></p>
      </div>
    </div>
  </ng-template>
</div>
<div class="message-popup-footer">
  <ion-button tabindex="2" color="light" class="btn-cancel" (click)="close()" [disabled]="sending">
    {{ createdMessage ? 'Close' : 'Cancel' }}
  </ion-button>
  <ion-button *ngIf="!createdMessage" tabindex="3" color="ocean" (click)="scheduleMessage()"
    [disabled]="sending || invalidDateTime || !channelUuid">
    {{ sending ? 'sending..' : 'Schedule Message'}}
  </ion-button>
</div>