<div class="ion-padding">
  <p class="subtitle-2 popup-title">Schedule Message</p>
  <p class="subtitle-2 popup-subtitle">Date</p>
  <ion-button id="open-modal" (click)="openDateSelectPopup()">Open Datetime Modal</ion-button>
  <!-- <ion-datetime presentation="date"></ion-datetime> -->
  <p class="subtitle-2 popup-subtitle">Time</p>

  <p class="subtitle-2 popup-subtitle">Add attachment</p>
  <ion-datetime value="2012-12-15T13:47:20.789"></ion-datetime>

  <!-- <ion-item>
    <ion-label position="floating">MM/DD/YYYY</ion-label>
    
  </ion-item> -->

</div>