<app-onboarding-steps [step]="steps" [total]="steps"></app-onboarding-steps>
<app-onboarding-header
  title="We are almost there"
  subtitle="Create your account to build your experience."
  [back]="steps === 4 ? ['onboarding', 'briefs'] : ['onboarding', 'template', templateType]"
></app-onboarding-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Create your account to continue</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div id="form"></div>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="12" size-md="8">
        What is next?
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>