<ion-header mode="ios">
  <ion-toolbar class="ion-toolbar-absolute">
    <ion-title class="heading-6 black">{{ selectedChat.channelName }}</ion-title>
    <ion-button slot="end" fill="clear" size="small" (click)="close()">
      <ion-icon color="primary" slot="icon-only" name="close-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-absolute">
  <ng-container *ngIf="loadingChatList">
    <div class="ion-text-center">
      <ion-spinner></ion-spinner>
    </div>
  </ng-container>
  <ion-grid slot="fixed" class="ion-no-padding">
    <ion-row>
      <ion-col class="details-container">
        <div class="channel-name-container">
          <ion-label class="subtitle-1 gray-2">Name</ion-label>
          <ion-input class="channel-name-input" [(ngModel)]="selectedChat.channelName"></ion-input>
        </div>
        <div class="who-in-chat-container">
          <ion-label class="subtitle-1 gray-2">Who is in this chat</ion-label>
          <div class="chat-role-container">
            <ng-container *ngFor="let role of selectedChat.roles">
              <p class="chat-role">{{ role }}</p>
            </ng-container>
          </div>
        </div>
        <div class="enable-chat-container">
          <ion-label class="subtitle-1 gray-2">Enable chat?</ion-label>
          <div class="content">
            <ion-toggle color="primary"></ion-toggle>
            <p>*Tutning off the chat will erase the chat history</p>
          </div>
        </div>
      </ion-col>
      <ion-col class="member-container">
        <p class="subtitle-1 gray-2">{{ selectedChat.members.length }} Members</p>
        <div class="member-list">
          <ion-list lines="none" color="light" class="ion-no-padding">
            <ng-container *ngFor="let member of selectedChat.members">
              <ion-item>
                <ion-avatar slot="start">
                  <img [src]="member.avatar" alt="{{member.name}}">
                </ion-avatar>
                <ion-label>
                  <p class="subtitle-1 black">{{member.name}}</p>
                  <p class="caption gray-2" *ngIf="member.role !== 'participant'">{{member.role}}</p>
                </ion-label>
              </ion-item>
            </ng-container>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
