<ion-header mode="ios">
  <ion-toolbar class="ion-toolbar-absolute">
    <ion-title class="heading-6 black">{{ selectedChat.name }}</ion-title>
    <ion-button slot="end" fill="clear" size="small" (click)="close()">
      <ion-icon color="primary" slot="icon-only" name="close-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-absolute">
  <ion-grid slot="fixed" class="ion-no-padding">
    <ion-row>
      <ion-col size="6" class="details-container">
        <div class="channel-name-container">
          <ion-label class="subtitle-1 gray-2">Name</ion-label>
          <ion-input class="channel-name-input" (keyup)="checkNamechanged($event)" [disabled]="!selectedChat.canEdit" [(ngModel)]="channelName"></ion-input>
          <ion-button *ngIf="enableSave" size="large" mode="ios" (click)="editChannelDetail()">SAVE</ion-button>
        </div>
        <div class="who-in-chat-container">
          <ion-label class="subtitle-1 gray-2">Who is in this chat</ion-label>
          <div class="chat-role-container">
            <ng-container *ngFor="let role of selectedChat.roles">
              <p class="chat-role">{{ utils.getUserRolesForUI(role) }}s</p>
            </ng-container>
          </div>
        </div>
        <!-- For now delete button is hide. to show delete button remove 'ion-hide' class. -->
        <div class="enable-chat-container ion-hide">
          <ion-button size="large" mode="ios" [disabled]="!selectedChat.canEdit" (click)="deleteChannel()">DELETE</ion-button>
        </div>
      </ion-col>
      <ion-col size="6" class="member-container">
        <p class="subtitle-1 gray-2">{{ memberList.length }} Members</p>
        <ng-container *ngIf="loadingMembers">
          <div class="ion-text-center">
            <ion-spinner></ion-spinner>
          </div>
        </ng-container>
        <ng-container *ngIf="!loadingMembers">
          <div class="member-list">
            <ion-list lines="none" color="light" class="ion-no-padding">
              <ng-container *ngFor="let member of memberList">
                <ion-item>
                  <ion-avatar slot="start">
                    <img [src]="member.avatar" alt="{{member.name}}">
                  </ion-avatar>
                  <ion-label>
                    <p class="subtitle-1 black">{{member.name}}</p>
                    <p class="caption gray-2" *ngIf="member.role !== 'participant'">{{ utils.getUserRolesForUI(member.role) }}</p>
                  </ion-label>
                </ion-item>
              </ng-container>
            </ion-list>
          </div>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
