.logo {
  margin-top: 25%;
  margin-bottom: 5%;
  span {
    margin-left: 20px;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
  }
}

.vertical-middle {
  vertical-align: middle;
}