.template-card {
  margin: 3px;
  height: 100%;
}

.card-media {
  height: 139px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-content {
  padding-bottom: 4px;
}

.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

:host::ng-deep .card-description :not(:first-child) {
  display: none;
}

.template-card-header {
  padding-left: 16px;
  padding-right: 16px;
}

.card-skeleton {
  width: 95%;
  margin: auto;
  height: 260px;
  border-radius: 7px;
}

.card-media-skeleton {
  height: 139px;
  margin: 0px;
}

.card-title-skeleton {
  height: 24px;
  width: 100px;
}

.card-content-skeleton {
  width: 90%;
  height: 13px;
  margin: auto;
  margin-bottom: 6px;
}

.custom-template-chip {
  position: absolute;
  left: 12px;
  top: 115px
}
