.card-media {
  height: 139px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 4px;
}

.card-skeleton {
  width: 95%;
  margin: auto;
  height: 260px;
  border-radius: 7px;
}
