<ng-container *ngIf="!skeleton">
  <a routerLink="/templates/view/{{template.uuid}}">
    <ion-card class="template-card cursor-pointer">
      <div class="card-media" [style.background-image]="template.leadImageUrl ? 'url(' + template.leadImageUrl + ')' : 'url(/assets/exp-placeholder.png)'"></div>
      <app-custom-template-chip *ngIf="!template.isPublic" class="custom-template-chip"></app-custom-template-chip>
      <ion-card-header class="template-card-header">
        <ion-card-title class="template-card-title" style="font-size: 18px">{{ template.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="template-card-content card-content">
        <div [innerHTML]="template.description" class="card-description" ></div>
      </ion-card-content>
    </ion-card>
  </a>
</ng-container>

<ng-container *ngIf="skeleton">
  <ion-card>
    <ion-skeleton-text class="card-media-skeleton" animated="true"></ion-skeleton-text>
    <ion-card-header>
      <ion-skeleton-text class="card-title-skeleton" animated="true"></ion-skeleton-text>
    </ion-card-header>
    <ion-skeleton-text class="card-content-skeleton" animated="true"></ion-skeleton-text>
    <ion-skeleton-text class="card-content-skeleton" animated="true"></ion-skeleton-text>
    <ion-skeleton-text class="card-content-skeleton" animated="true"></ion-skeleton-text>
  </ion-card>
</ng-container>
