<ion-card class="brief-info-card" [class]="utils.isMobile() ? 'mobile' : ''">
  <ion-card-header>
    <ion-card-title>
      <p class="tag">Project Brief</p>
      <p class="title black subtitle-1">{{ brief.name }}</p>
    </ion-card-title>
  </ion-card-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="3" class="ion-text-center">
        <div class="image-container">
          <img [src]="brief.logoUrl" class="w-100">
        </div>
        <hr>
        <a [href]="brief.websiteUrl" target="_blank" class="btn text-center brief-btn">Visit Website</a>
        <hr *ngIf="utils.isMobile()">
      </ion-col>
      <ion-col size="12" size-md="9" class="detail-col" [class]="utils.isMobile() ? 'mobile' : ''">
        <div [innerHTML]=[brief.description]></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-action-footer (cancel)="cancel()" hasCancelEvent="true" (submitBtn)="confirm()" btnSubmitText="Use Project Brief"></app-action-footer>
</ion-card>