@media (min-width:992px) {
  .template-library-container {
    width: 80%;
    padding-top: 30px;
    margin: auto;
  }
}

@media (max-width:991px) {
  .menu {
    margin-left: 10px;
  }
}

.templates-grid-container {
  padding-left: 20px;
  padding-right: 20px;
}

.template-search-bar {
  padding: 4px 5px 0px 2px;
  --box-shadow: none;
}

.search-home-container {
  display: flex;
  margin-bottom: 24px;
  padding-top: 7px;
}

.skeleton-container {
  padding-top: 60px;
}
