.template-library-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width:992px) {
  .template-library-container {
    //width: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1200px;
    margin: auto;
  }
}

@media (max-width:991px) {
  .menu {
    margin-left: 10px;
  }
}

.template-search-bar {
  padding: 0px 5px 0px 2px;
  --box-shadow: none;
}

.search-home-container {
  display: flex;
  margin-bottom: 24px;
  padding-top: 7px;
}

ion-item.active {
  font-weight: bold;
}

.template-library-toolbar {
  padding-left: 16px
}
