<ion-split-pane contentId="main">
    <app-chat-list
      #chatList
      style="display: flex"
      [currentChat]="getCurrentChat()"
      (navigate)="goto($event)"
      (chatListReady)="selectFirstChat($event)">
    </app-chat-list>
    <ion-content color="light" id="main">
      <app-chat-room 
        #chatRoom 
        *ngIf="channelId"
        [channelId]="channelId"
        [channelName]="channelName"
        [channelAvatar]="channelAvatar"
        [pusherChannelName]="pusherChannelName"
        [readonly]="readonly"
        [roles]="roles"
        [members]="members"
        ></app-chat-room>
    </ion-content>
  </ion-split-pane>