.filter {
  background-color: #EFEFEF;
}

.templates-grid-container {
  padding-left: 40px;
  padding-right: 20px;
}

.card-media {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 100%;
  display: block;
}
