<ion-content>
  <ion-grid class="templates-grid-container">
    <ng-container *ngIf="leadImage">
      <ion-row>
        <ion-col size="12">
          <div class="card-media" [style.background-image]="'url(' + leadImage + ')'"></div>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-container *ngIf="!loadingTemplates">
      <ion-row>
        <ion-col>
            <h1 class="template-category-heading">
              {{heading}}
              <ng-container *ngIf="headingHighlight">
                <span class="filter">{{headingHighlight}}</span>
              </ng-container>
            </h1>
          <ng-container *ngIf="description">
            <h5 class="template-category-description">
              {{description}}
            </h5>
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row>
        <ng-container *ngFor="let template of templates">
          <ion-col sizeLg="4">
            <app-template-card [template]="template" ></app-template-card>
          </ion-col>
        </ng-container>
      </ion-row>

      <ng-container *ngIf="templates.length === 0" >
        <ion-row>
          <ion-col class="ion-margin-top">

            <ng-container *ngIf="isCustomTemplates" >
              <div class="custom-templates-empty-box">
                Your organization doesn't have private templates yet.<br/>
                You can create private templates from the experience page.<br/>
                <a href="http://help.practera.com/en/articles/5587175-create-custom-templates" target="_blank" referrerpolicy="no-referrer">Learn more</a>
              </div>
            </ng-container>

            <ng-container *ngIf="!isCustomTemplates" >
              <app-empty-results [emptyResultsString]=emptyResultsString></app-empty-results>
            </ng-container>
          </ion-col>
        </ion-row>
      </ng-container>

    </ng-container>

    <ng-container *ngIf="loadingTemplates">
      <ion-row>
        <ion-col>
          <h2 class="category-heading"><ion-skeleton-text animated="true" style="height: 20px; width: 180px"></ion-skeleton-text></h2>
          <ng-container *ngIf="description">
            <h2 class="category-heading"><ion-skeleton-text animated="true" style="height: 60px; width: 100%"></ion-skeleton-text></h2>
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeLg="4">
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
        <ion-col sizeLg="4">
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
        <ion-col sizeLg="4">
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
        <ion-col sizeLg="4">
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
        <ion-col sizeLg="4">
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
        <ion-col sizeLg="4">
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
        <ion-col sizeLg="4">
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
        <ion-col sizeLg="4">
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
        <ion-col sizeLg="4">
          <app-template-card [skeleton]="true"></app-template-card>
        </ion-col>
      </ion-row>
    </ng-container>

  </ion-grid>
</ion-content>
