<!-- <app-header></app-header> -->

<main>

  <header class="title-bar container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h1>Experiences</h1>
      </div>
      <div class="title-bar-tools col-md-6">
        <a class="btn btn-link">Create report</a>
      </div>
    </div>
  </header>

  <section class="experiences-stats">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-xl-3" *ngFor="let stat of stats">
          <app-stat-card
            [statValue]="stat.value"
            [statLabel]="stat.label"
          ></app-stat-card>
        </div>
      </div>
    </div>
  </section>

  <section class="experiences-gallery">

    <header class="title-bar container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2>My experiences</h2>
        </div>
        <div class="title-bar-tools col-md-6">
          <button class="btn btn-primary btn-lg">
            <ion-icon name="add"></ion-icon>
            <span>Add experience</span>
          </button>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <aside class="experiences-aside col-md-3">
          <h3>Filter by tags</h3>
          <div class="experience-tags-list">
            <button *ngFor="let tag of tags" type="button" class="experience-tag btn btn-sm" [ngClass]="{ 'btn-tag-active': tag.active, 'btn-tag-inactive': !tag.active }">
              {{ tag.name }}<span class="experience-tag-count">{{ tag.count }}</span>
            </button>
          </div>
        </aside>
        <section class="experiences-content col-md-9">
          <div class="experiences-filters">
            <div class="experiences-filter">
              <span>Status</span>
              <div class="dropdown">
                <button class="btn btn-link dropdown-toggle shadow-none" type="button" id="filterStatus" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ status | titlecase }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="filterStatus">
                  <li><a class="dropdown-item" (click)="filterByStatus('all')">All</a></li>
                  <li><a class="dropdown-item" (click)="filterByStatus('draft')">Draft</a></li>
                  <li><a class="dropdown-item" (click)="filterByStatus('live')">Live</a></li>
                  <li><a class="dropdown-item" (click)="filterByStatus('completed')">Completed</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" (click)="filterByStatus('archived')">Archived</a></li>
                </ul>
              </div>
            </div>
            <div class="experiences-filter">
              <span>Type</span>
              <div class="dropdown">
                <button class="btn btn-link dropdown-toggle shadow-none" type="button" id="filterType" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ type | titlecase }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="filterType">
                  <li *ngFor="let type of types"><a class="dropdown-item" (click)="filterByType(type)">{{ type | titlecase }}</a></li>
                </ul>
              </div>
            </div>
            <div class="experiences-filter">
              <span>Sort by</span>
              <div class="dropdown">
                <button class="btn btn-link dropdown-toggle shadow-none" type="button" id="filterSort" data-bs-toggle="dropdown" aria-expanded="false">
                  All
                </button>
                <ul class="dropdown-menu" aria-labelledby="filterSort">
                  <li><a class="dropdown-item">Action</a></li>
                  <li><a class="dropdown-item">Another action</a></li>
                  <li><a class="dropdown-item">Something else here</a></li>
                </ul>
              </div>
            </div>
            <div class="experiences-filter">
              <span>Sort order</span>
              <ion-icon name="arrow-down"></ion-icon>
            </div>
          </div>

          <div class="experiences-list">
            <ng-container *ngFor="let exp of experiences">
              <app-experience-card
                [experience]="exp"
              ></app-experience-card>
            </ng-container>
          </div>
        </section>
      </div>
    </div>

  </section>

</main>

<!-- <app-footer></app-footer> -->