<!-- <app-header></app-header> -->

<ion-content color="light">
<main>
  <header class="title-bar container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h1>Experiences</h1>
      </div>
      <div class="title-bar-tools col-md-6">
        <button class="btn btn-link" [disabled]="loadingExps" (click)="createReport()">Download data</button>
        <button class="btn btn-primary btn-sm" style='border-radius: 20px; font-size: .8em;' (click)="goToLink('https://practera.com/docs/the-experience-portal-explained-practera-2/')"><ion-icon size='small' name="help-circle-outline"></ion-icon><span>help</span></button>
      </div>
    </div>
  </header>

  <section class="experiences-stats">
    <div class="container-fluid">
      <div *ngIf="!loadingExps" class="row">
        <div class="col-md-6 col-xl-3" *ngFor="let stat of stats">
          <app-stat-card
            [statValue]="stat.value"
            [statLabel]="stat.label"
            [statDescription]="stat.description"
          ></app-stat-card>
        </div>
      </div>
      <div *ngIf="loadingExps" class="row">
        <div class="col-md-6 col-xl-3" *ngFor="let stat of stats">
          <app-stat-card
            skeleton="true"
            [statLabel]="stat.label"
            [statDescription]="stat.description"
          ></app-stat-card>
        </div>
      </div>
    </div>
  </section>

  <section class="experiences-gallery">

    <header class="title-bar container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2>My experiences</h2>
        </div>
        <div class="title-bar-tools col-md-6">
          <button class="btn btn-primary btn-lg" [routerLink]="['/templates']">
            <ion-icon name="add"></ion-icon>
            <span>Add experience</span>
          </button>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <aside class="experiences-aside col-md-3">
          <h3>Filter by tags</h3>
          <div *ngIf="loadingExps">
            <button *ngFor="let a of [1,2,3]" class="experience-tag btn btn-sm" disabled>
              <ion-skeleton-text animated style="width: 60px; height: 25px"></ion-skeleton-text>
            </button>
          </div>
          <div *ngIf="!loadingExps">
            <button
              *ngFor="let tag of tags; let i = index"
              type="button"
              class="experience-tag btn btn-sm"
              [ngClass]="{ 'btn-tag-active': tag.active, 'btn-tag-inactive': !tag.active }"
              (click)="tags[i].active = !tag.active; filterAndOrder()"
            >
              {{ tag.name }}<span class="experience-tag-count">{{ tag.count }}</span>
            </button>
          </div>
        </aside>
        <section class="experiences-content col-md-9">
          <div class="experiences-filters">
            <div class="experiences-filter">
              <span>Status</span>
              <div class="dropdown">
                <button class="btn btn-link dropdown-toggle shadow-none" type="button" id="filterStatus" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ status | titlecase }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="filterStatus">
                  <li>
                    <a class="dropdown-item" (click)="status = 'all'; filterAndOrder()">
                      All
                      <span *ngIf="status === 'all'"><ion-icon name="checkmark"></ion-icon></span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="status = 'draft'; filterAndOrder()">
                      Draft
                      <span *ngIf="status === 'draft'"><ion-icon name="checkmark"></ion-icon></span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="status = 'live'; filterAndOrder()">
                      Live
                      <span *ngIf="status === 'live'"><ion-icon name="checkmark"></ion-icon></span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="status = 'completed'; filterAndOrder()">
                      Completed
                      <span *ngIf="status === 'completed'"><ion-icon name="checkmark"></ion-icon></span>
                    </a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" (click)="status = 'archived'; filterAndOrder()">
                      Archived
                      <span *ngIf="status === 'archived'"><ion-icon name="checkmark"></ion-icon></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="experiences-filter">
              <span>Type</span>
              <div class="dropdown">
                <button class="btn btn-link dropdown-toggle shadow-none" type="button" id="filterType" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ type | titlecase }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="filterType">
                  <li *ngFor="let t of types">
                    <a class="dropdown-item" (click)="type = t; filterAndOrder()">
                      {{ t | titlecase }}
                      <span *ngIf="type === t"><ion-icon name="checkmark"></ion-icon></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="experiences-filter">
              <span>Sort by</span>
              <div class="dropdown">
                <button class="btn btn-link dropdown-toggle shadow-none" type="button" id="filterSort" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ sortBy | titlecase }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="filterSort">
                  <li *ngFor="let s of sortList">
                    <a class="dropdown-item" (click)="sortBy = s; filterAndOrder()">
                      {{ s | titlecase }}
                      <span *ngIf="sortBy === s"><ion-icon name="checkmark"></ion-icon></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="experiences-filter">
              <span>Sort order</span>
              <button class="btn shadow-none" (click)="sortDesc = !sortDesc; filterAndOrder()">
                <ion-icon *ngIf="sortDesc" name="arrow-down"></ion-icon>
                <ion-icon *ngIf="!sortDesc" name="arrow-up"></ion-icon>
              </button>
            </div>
          </div>

          <div class="experiences-list">
            <app-experience-card *ngIf="loadingExps" skeleton="true"></app-experience-card>
            <ng-container *ngIf="!loadingExps">
              <ng-container *ngFor="let exp of experiences">
                <app-experience-card
                  [experience]="exp"
                ></app-experience-card>
              </ng-container>
              <div *ngIf="experiences.length === 0" class="text-center mt-3">
                <div class="no-exp">No experiences found</div>
                <img src="./assets/no-exp.svg">
              </div>
              <ion-infinite-scroll *ngIf="remainingExperiences.length" threshold="50px" (ionInfinite)="loadMore($event)">
                <ion-infinite-scroll-content
                  loadingSpinner="bubbles"
                  loadingText="Loading more experiences...">
                </ion-infinite-scroll-content>
              </ion-infinite-scroll>
            </ng-container>
          </div>
        </section>
      </div>
    </div>

  </section>
</main>
</ion-content>

<!-- <app-footer></app-footer> -->