<div class="people-list">
  <ngx-datatable
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="48"
    [footerHeight]="48"
    [rowHeight]="52"
    [limit]="limit"
    [offset]="offset"
    [count]="count"
    externalPaging=true
    externalSorting=true
    [loadingIndicator]="loading"
    (page)="page($event)"
    (sort)="sort($event)"
    class="material"
    margin-horizontal>
    <!-- <ngx-datatable-column
      [width]="48"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [headerCheckboxable]="true"
      [checkboxable]="true">
    </ngx-datatable-column> -->
    <ng-container *ngIf="type === 'student'">
      <ngx-datatable-column
        name="Student"
        [width]="240"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="student">
            <ion-avatar><img [src]="value.image"></ion-avatar>
            <div>
              <p class="name body-2">{{ value.name }}</p>
              <p class="email caption">{{ value.email }}</p>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Project"
        prop="team"
        [width]="90"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <div class="project">
              <p>{{value}}</p>
            </div>
          </ng-template>
      </ngx-datatable-column>
    </ng-container>

    <ng-container *ngIf="type === 'team'">
      <ngx-datatable-column
        name="Project"
        prop="name"
        [width]="90"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <div class="project">
              <p>{{value}}</p>
            </div>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Team"
        prop="members"
        [width]="240"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="members">
            <ion-avatar *ngFor="let member of value"><img [src]="member.image"></ion-avatar>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ng-container>

    <ngx-datatable-column
      [name]="type === 'student' ? 'Team And Individual Submissions' : 'Team Submissions Only'"
      prop="progress"
      [sortable]="true"
      [canAutoResize]="true"
      [draggable]="false"
      [resizeable]="false">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div class="cell">
          <ion-button
            class="btn-scroll-left"
            color="medium"
            fill="clear"
            (click)="scroll(progressRef.scrollLeft - 100)"
            *ngIf="progressRef.scrollWidth > progressRef.offsetWidth + 5">
            <ion-icon name="arrow-dropleft"></ion-icon>
          </ion-button>

          <div class="progress" (scroll)="scroll(progressRef.scrollLeft)" #progressRef>
            <div *ngFor="let progress of value; let i = index" [style.width]="progressWidth(value.length) + '%'" #iconRef>

              <ng-container *ngIf="progress.status === 'not started' || progress.status === 'in progress'">
                <ion-button *ngIf="progress.overdue" color="danger" fill="clear" (click)="progressPopover($event, progress)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                </ion-button>
                <ion-button *ngIf="!progress.overdue" color="medium" fill="clear" (click)="progressPopover($event, progress)">
                  <ion-icon name="radio-button-off"></ion-icon>
                </ion-button>
              </ng-container>

              <ng-container *ngIf="progress.status === 'done' || progress.status === 'published'">
                <ion-button [color]="progress.overdue ? 'warning' : 'success'" fill="clear" (click)="progressPopover($event, progress)">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>
                </ion-button>
              </ng-container>

              <ng-container *ngIf="progress.status === 'pending review' || progress.status === 'pending approval'">
                <ion-button [color]="progress.overdue ? 'warning' : 'success'" fill="clear" (click)="progressPopover($event, progress)">
                  <ion-icon name="hourglass"></ion-icon>
                </ion-button>
              </ng-container>

              <span color="light" *ngIf="i < value.length - 1 && iconRef.offsetWidth >= 60">|</span>

            </div>
          </div>

          <ion-button
            class="btn-scroll-right"
            color="medium"
            fill="clear"
            (click)="scroll(progressRef.scrollLeft + 100)"
            *ngIf="progressRef.scrollWidth > progressRef.offsetWidth + 5">
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-button>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Action"
      [width]="90"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <ion-button color="medium" fill="clear" size="small" (click)="actionPopover($event, row.uid)">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <ion-button color="primary" fill="clear" (click)="switchType()">
    <ng-container *ngIf="type === 'team'">
      VIEW PROGRESS BY STUDENT
    </ng-container>
    <ng-container *ngIf="type === 'student'">
      VIEW PROGRESS BY PROJECT
    </ng-container>
  </ion-button>
</div>