.people-list {
  margin-bottom: 24px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  overflow: hidden;
}
.cell {
  position: relative;
  padding-right: 25px;
}

.btn-scroll-left {
  float: left;
  --padding-start: 0;
  --padding-end: 0;
}
.btn-scroll-right {
  position: absolute;
  top: 0;
  right: 0;
  --padding-start: 0;
  --padding-end: 0;
}
@mixin scroll-bar() {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }
}
@mixin avatar() {
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
  img {
    display: block;
  }
}
.student {
  @include scroll-bar();
  display: flex;
  align-items: center;
  ion-avatar {
    display: block;
    @include avatar();
  }
  div {
    margin-left: 16px;
  }
  .name {
    margin: 0;
  }
  .email {
    margin: 0;
    color: var( --ion-color-medium-shade);
  }
}
.members {
  ion-avatar {
    display: inline-block;
    @include avatar();
    margin-right: 5px;
  }
}
.progress {
  @include scroll-bar();
  div {
    display: inline-block;
    min-width: 32px;
  }
  ion-button {
    width: 100%;
    vertical-align: middle;
    --padding-start: 0;
    --padding-end: 0;
  }
  span {
    color: var(--ion-color-medium);
    vertical-align: middle;
  }
}
