<div class="ion-padding" [ngClass]="{'main-container': updateSuccess}">
  <ng-container *ngIf="!updateSuccess; else messageCreated">
    <p class="subtitle-2 popup-title">{{ reScheduled ? 'Modify Schedule' : 'Edit Message' }}</p>

    <p class="caption hint-message" *ngIf="reScheduled"><strong>{{ utils.browserTimezone() }} Timezone</strong></p>

    <!-- comment this util we discuss about limit -->
    <!-- <p class="caption hint-message" *ngIf="reScheduled">select the date and time at least 30 minutes in the future</p> -->

    <div class="form-container" [ngClass]="{'edit': !reScheduled}">
      <ng-container *ngIf="reScheduled; else editMessage">
        <p class="subtitle-2 popup-subtitle">Date</p>
        <ion-input class="date-time-pickers" type="date" [(ngModel)]="selectedDate"></ion-input>
    
      
        <p class="subtitle-2 popup-subtitle">Time</p>
        <ion-input class="date-time-pickers" type="time" [(ngModel)]="selectedTime"></ion-input>
  
        <p class="subtitle-2 popup-error" *ngIf="invalidDateTime">Selected date and time is not valid</p>
      </ng-container>
      <ng-template #editMessage>
        <!-- quill editor -->
        <quill-editor (onEditorCreated)="utils.formatQuillClipboard($event)" [minLength]="1" customToolbarPosition="top" [required]="true" class="edit-message-text-editor" [placeholder]="'Enter your message'" [(ngModel)]="message">
          <div quill-editor-toolbar>
            <span class="ql-formats">
              <button class="ql-bold" [title]="'Bold'"></button>
              <button class="ql-italic" [title]="'Italic'"></button>
              <button class="ql-underline" [title]="'Underline'"></button>
              <button class="ql-strike" [title]="'Strike'"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-list" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-link"></button>
            </span>
          </div>
        </quill-editor>
      <!-- quill editor -->
      </ng-template>
    </div>
  </ng-container>
  <ng-template #messageCreated>
    <div class="success-container">
      <div class="title-container">
        <ion-icon name="checkmark-circle"></ion-icon>
        <p class="subtitle-2 popup-title">{{ reScheduled ? 'Message Rescheduled' : 'Message Updated' }}</p>
      </div>
      <div class="message-container ql-success-message-container" *ngIf="!reScheduled">
        <!-- Quill read only view/ use to render html content -->
        <quill-view [content]="message"></quill-view>
      </div>
      <div class="schedule-info-container" *ngIf="!isSentMessageEdit">
        <p class="subtitle-2 black">Scheduled for <strong>{{ utils.utcLocalforScheduleMessages(scheduledDateTime, 'date') }}</strong> at <strong>{{ utils.utcLocalforScheduleMessages(scheduledDateTime, 'time') }} ({{ utils.browserTimezone() }})</strong> on <strong>{{ channelName }}</strong></p>
      </div>
    </div>
  </ng-template>
</div>
<div class="message-popup-footer">
  <ion-button color="light" class="btn-cancle" (click)="close()" [disabled]="sending">
    {{ updateSuccess ? 'Close' : 'Cancel' }}
  </ion-button>
  <ion-button *ngIf="!updateSuccess" color="ocean" (click)="EditMessage()"
    [disabled]="sending || !messageUuid">
    {{ sending ? 'sending..' : reScheduled ? 'Schedule Message' : 'Update Message'}}
  </ion-button>
</div>