.announcement-create-container {
  padding: 20px 20px 0 20px;

  .title,
  .channel-title {
    font-weight: 700 !important;
  }

  .title {
    margin-bottom: 10px;
  }

  .channel-title {
    margin-bottom: 6px;
  }
}

.announcement-create-footer {
  border-top: 1px solid;
  border-top-color: var(--practera-light-grey-100);
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;

  .btn-cancle {
    &::part(native) {
      border: 1px solid;
      border-color: var(--practera-grey-25);
      background: transparent !important;
      box-shadow: none !important;
    }
  }
}
