$max-height: 35px;
.wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 20%;
  overflow: hidden;
  .text-content {
    overflow: hidden;
    max-height: 100%;
  }
}

.limit-height {
  max-height: $max-height;
  text-overflow: ellipsis;
}
