<div class="card">
  <div class="card-header bg-white">
    <h3 class="card-title">Duplicate Experience</h3>
  </div>
  <div class="card-body">
    <p class="card-text">Which users would you like to copy over to the duplicated experience?</p>
    <div *ngFor="let role of ['admin', 'coordinator', 'mentor', 'participant']" class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" [id]="'checkbox-' + role" (change)="select()" [(ngModel)]="roleSelected[role]">
      <label class="form-check-label" [attr.for]="'checkbox-' + role">{{ role }}</label>
    </div>
    <hr/>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkbox-all" (change)="select('all')" [(ngModel)]="allSelected">
      <label class="form-check-label" for="checkbox-all">Select All</label>
    </div>
    <button type="button" class="btn btn-primary float-end" (click)="confirmed()">Duplicate</button>
    <button type="button" class="btn btn-link float-end" (click)="cancel()">Cancel</button>
  </div>
</div>
