.practera-popup {
  .modal-wrapper {
    --background: transparent;
    --box-shadow: none;
  }
}

.popup-w-90 {
  .modal-wrapper {
    width: 90%;
  }
}

.popup-h-90 {
  .modal-wrapper {
    height: 90%;
  }
}

.popover-action {
  --width: auto;
  --height: fit-content;
}
.popover-progress {
  .popover-content {
    --width: auto;
    --height: fit-content;
  }
}

// ion-item in popover select options don't need underline
ion-item.sc-ion-select-popover {
  --border-width: 0;
  --inner-border-width: 0;
}

// datatable header class used in elsa-todo-list.component.html
.todo-list {
  .header-issue {
    margin-left: 32px;
    font-size: 20px !important;
  }
}

.ion-toolbar-absolute {
  height: 60px !important;
  --background: white;
}
.ion-content-absolute {
  position: absolute;
  top: 60px;
  z-index: 20;
  height: calc(100% - 60px);
}
.ion-content-absolute-with-footer {
  position: absolute;
  top: 60px;
  z-index: 20;
  height: calc(100% - 120px);
}
.ion-footer-absolute {
  position: absolute;
  height: 60px;
  bottom: 0;
  z-index: 30;
}

// Chat info page
.chat-info-page{
  --max-height: 100%;
  --max-width: 100%;
  --min-width: 100%;
  --min-height: 100%;
}

// alert/notification
.chat-conformation {
  .alert-wrapper {
    --max-width: 350px;
    --width: 350px;
    .alert-button {
      color: white;
      background: var(--ion-color-primary);
      &.alert-button-role-cancel {
        color: var(--ion-color-primary);
        background: transparent;
      }
    }
  }
}

// Chat direct message
.chat-direct-message{
  --max-height: 550px;
  --max-width: 400px;
  --min-height: 400px;
  .modal-wrapper {
    border-radius: 4px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

// backward compatable for Bootstrap 4, used in NgbTypeahead
.sr-only {
  display: none;
}

.btn-round {
  border-radius: 12px;
}