h1, h2, h3 {
  font-weight: bold;
}

.practera-popup {
  .modal-wrapper {
    --background: transparent;
    --box-shadow: none;
  }
}

.popup-w-90 {
  .modal-wrapper {
    width: 90%;
  }
}

.popup-h-90 {
  .modal-wrapper {
    height: 90%;
  }
}

.popover-action {
  --width: auto;
  --height: fit-content;
}
.popover-progress {
  .popover-content {
    --width: auto;
    --height: fit-content;
  }
}

// ion-item in popover select options don't need underline
ion-item.sc-ion-select-popover {
  --border-width: 0;
  --inner-border-width: 0;
}

// datatable header class used in elsa-todo-list.component.html
.todo-list {
  .header-issue {
    margin-left: 32px;
    font-size: 20px !important;
  }
}

.ion-toolbar-absolute {
  height: 60px !important;
  --background: white;
}
.ion-content-absolute {
  position: absolute;
  top: 60px;
  z-index: 20;
  height: calc(100% - 60px);
}
.ion-content-absolute-with-footer {
  position: absolute;
  top: 60px;
  z-index: 20;
  height: calc(100% - 120px);
}
.ion-footer-absolute {
  position: absolute;
  height: 60px;
  bottom: 0;
  z-index: 30;
}

// Chat info page
.chat-info-page{
  --max-height: 100%;
  --max-width: 100%;
  --min-width: 100%;
  --min-height: 100%;
}

// alert/notification
.chat-conformation {
  .alert-wrapper {
    --max-width: 350px;
    --width: 350px;
    .alert-button {
      color: white;
      background: var(--ion-color-primary);
      &.alert-button-role-cancel {
        color: var(--ion-color-primary);
        background: transparent;
      }
    }
  }
}

// Chat direct message
.chat-direct-message{
  --max-height: 550px;
  --max-width: 400px;
  --min-height: 400px;
  .modal-wrapper {
    border-radius: 4px;
  }
}

// group chat popup
.chat-group-message-popup{
  --max-height: 320px;
  --max-width: 500px;
  --min-height: 300px;
  .modal-wrapper {
    border-radius: 6px;
  }
}

// Schedule chat message popup
.chat-schedule-message-popup{
  --max-height: 400px;
  --max-width: 500px;
  --min-height: 400px;
  .modal-wrapper {
    border-radius: 6px;
  }
}

// Chat Channel Create popup - announcment and group
.channel-create-container {
  padding: 20px 20px 0 20px;

  .title,
  .channel-title {
    font-weight: 700 !important;
  }

  .title {
    margin-bottom: 10px;
  }

  .channel-title {
    margin-bottom: 6px;
  }
}

.message-popup-footer {
  border-top: 1px solid;
  border-top-color: var(--practera-light-grey-100);
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;

  .btn-cancle {
    &::part(native) {
      border: 1px solid;
      border-color: var(--practera-grey-25);
      background: transparent !important;
      box-shadow: none !important;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

// backward compatable for Bootstrap 4, used in NgbTypeahead
.sr-only {
  display: none;
}

.btn-round {
  border-radius: 12px;
}

// Using for Onboarding pages
.icon-container {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  background-color: var(--Practera-light-grey-50);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .icon {
    color: var(--practera-violet-100);
    font-size: 28px;
  }
}

.page-padding {
  padding: 49px;
}

.vertical-aligned-container {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

/**
  Hubspot Form
**/
.hs-form{
  padding:18px;
  input, textarea{
    width:100%;
    border-radius:4px;
    font-size:16px !important;
    padding:4px 10px;
    box-sizing:border-box;
    border:1px solid #DFDFE8;
  }
  textarea{
    min-height:120px;
  }
  .hs-form-field > label{
    padding:8px 0;
    display:none;
  }
  .hs-form-field{
    margin-bottom:12px;
  }
  .hs_LEGAL_CONSENT label{
    display:block;
  }
   ul{
    padding:0;
    margin:0;
  }
   ul.hs-error-msgs li{
    padding:2px 0;
    list-style:none;
    font-size:13px;
    color:#e60000;
  }
  input.error{
    border:1px solid #e60000;
  }
  .legal-consent-container, .legal-consent-container p {
    font-size:13px;
  }
  .legal-consent-container label{
    display:flex;
    align-items:center;
    margin: 20px 0 0 0;

  }
  .legal-consent-container label input{
    width:20px;
  }
  .legal-consent-container label span{
    padding:0;
    margin:0 0 0 10px;
  }
  .legal-consent-container ul li{
    list-style:none;
    margin:0;
    padding:0;
  }
  .hs-button{
    background:#008296;
    color:#fff;
    border:1px solid #008296;
    color:#fff !important;
    max-width:200px;
    margin:0 auto;
    font-size:14px !important;
    font-weight:700;
  }
  .hs-button:hover{
    background:#45A1AF;
    border:1px solid #45A1AF;
  }
  .actions{
    text-align:center;
    padding:20px 0 10px 0;
  }
}

.submitted-message.hs-main-font-element{
  padding:20px;
  text-align:center;
  strong{
    font-size:20px;
    margin-bottom:20px;
    display:block;
    color:#123B79;
  }
}

/** Button Class **/