<app-onboarding-steps step=1 [total]="type === 'industryProject' ? 4 : 3"></app-onboarding-steps>
<app-onboarding-header
  [title]="pageTitle"
  subtitle="Please answer the following questions to personalize the process."
  [back]="['onboarding']"
></app-onboarding-header>
<ion-content>
  <ng-container *ngFor="let question of questions">
    <h2>{{ question.title }}</h2>
    <ion-button
      *ngFor="let option of question.options"
      [color]="question.answer === option ? 'primary' : 'light'"
      (click)="question.answer = option"
    >{{ option }}
    </ion-button>
  </ng-container>

</ion-content>
<app-action-footer (submit)="submit()"></app-action-footer>