<app-onboarding-steps class="ion-hide-sm-down" step=1 [total]="type === 'industryProject' ? 4 : 3"></app-onboarding-steps>
<app-onboarding-header
  [title]="pageTitle"
  subtitle="Please answer the following questions to personalize the process."
  [back]="['onboarding']"
  [icon]="projectIcon"
></app-onboarding-header>
<ion-content class="ion-padding">
  <div [class]="!utils.isMobile() ? 'page-content' : ''">
    <ng-container *ngFor="let question of questions">
      <p class="question subtitle-1 grey-100">{{ question.title }}</p>
      <div class="answers">
        <ion-button
        class="answer body-2"
        *ngFor="let option of question.options"
        [class]="question.answer === option ? 'select' : 'clear'"
        (click)="question.answer = option"
      >{{ option }}
      </ion-button>
      </div>
    </ng-container>
  </div>
</ion-content>
<app-action-footer (submit)="submit()" [btnSubmitDisabled]="continueDisabled"></app-action-footer>