p {
  margin: 0;
}
.question {
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: 21px;
}
.answers {
  margin-bottom: 25px;
  .answer {
    margin-right: 10px;
    box-shadow: none;
    height: 34px;
    font-family: Roboto;
    font-weight: unset;
    box-sizing: border-box;
    --border-radius: 6px;
    --box-shadow: none;
    --padding-top: 9px;
    --padding-bottom: 9px;
    --padding-start: 20px;
    --padding-end: 20px;
    text-transform: capitalize;
    letter-spacing: unset;
    &.clear {
      border: 1px solid #DFDFE8;
      border-radius: 6px;
      --background: white;
      --color: black;
    }
    &.select {
      --background: var(--practera-ocean-100);
      --color: white;
    }
  }
}